0.stm32cubemonitor_flows/last.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22293a40.207896",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6032146079546790",
        "type": "probe",
        "probeid": "082303147316303030303032",
        "probename": "ST-Link v2 082303147316303030303032",
        "protocol": "SWD",
        "frequency": "4.6 MHz",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J42",
        "connectionType": "p2p",
        "nickname": "st"
    },
    {
        "id": "06bd63c9f0ccbe23",
        "type": "exe-config",
        "name": "control",
        "exefile": "D:\\repos\\ControlDigitalAvanzado\\1.stm32cube_code\\stm32f401_CubeProject\\Debug\\stm32f401_xB_template.elf",
        "exefolder": "D:\\repos\\ControlDigitalAvanzado\\1.stm32cube_code\\stm32f401_CubeProject\\Debug",
        "exevariablelist": [
            {
                "address": "0x08003790",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x2000011c",
                "name": "bAutoRearmAfterOVF",
                "type": 6
            },
            {
                "address": "0x20000a7c",
                "name": "buffer[0]",
                "type": 9
            },
            {
                "address": "0x20000db4",
                "name": "e",
                "type": 9
            },
            {
                "address": "0x20000db8",
                "name": "e_old",
                "type": 9
            },
            {
                "address": "0x20000a78",
                "name": "flag",
                "type": 4
            },
            {
                "address": "0x20000a7a",
                "name": "flag2",
                "type": 4
            },
            {
                "address": "0x200000fc",
                "name": "g_binternalIgnoreTrig",
                "type": 6
            },
            {
                "address": "0x20000120",
                "name": "g_dataTraceBuffer[0]",
                "type": 5
            },
            {
                "address": "0x200000f4",
                "name": "g_internalTrigMode",
                "type": 6
            },
            {
                "address": "0x200000f0",
                "name": "g_internalTrigState",
                "type": 6
            },
            {
                "address": "0x200000f8",
                "name": "g_internalType",
                "type": 6
            },
            {
                "address": "0x200009bc",
                "name": "g_lastReadPointer",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "g_nbRecords",
                "type": 6
            },
            {
                "address": "0x20000118",
                "name": "g_overflow",
                "type": 6
            },
            {
                "address": "0x200000ec",
                "name": "g_pTriggerConf",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "g_readFunc[0]",
                "type": 5
            },
            {
                "address": "0x200009b8",
                "name": "g_recordSize",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "g_stopAfterRecords",
                "type": 6
            },
            {
                "address": "0x20000104",
                "name": "g_threshold_s16",
                "type": 4
            },
            {
                "address": "0x2000010c",
                "name": "g_threshold_s32",
                "type": 6
            },
            {
                "address": "0x20000101",
                "name": "g_threshold_s8",
                "type": 2
            },
            {
                "address": "0x20000102",
                "name": "g_threshold_u16",
                "type": 3
            },
            {
                "address": "0x20000108",
                "name": "g_threshold_u32",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "g_threshold_u8",
                "type": 1
            },
            {
                "address": "0x200009c0",
                "name": "g_timestamp",
                "type": 5
            },
            {
                "address": "0x200009c4",
                "name": "g_timestampOverflow",
                "type": 5
            },
            {
                "address": "0x2000000c",
                "name": "g_traceHeader.bufferEndAddr",
                "type": 5
            },
            {
                "address": "0x20000014",
                "name": "g_traceHeader.bufferFormat",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "g_traceHeader.bufferStartAddr",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "g_traceHeader.flags",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "g_traceHeader.g_varList[0].accessType",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "g_traceHeader.g_varList[0].address",
                "type": 5
            },
            {
                "address": "0x20000003",
                "name": "g_traceHeader.headerFieldSize",
                "type": 1
            },
            {
                "address": "0x20000004",
                "name": "g_traceHeader.headerVersion",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "g_traceHeader.nbVar",
                "type": 5
            },
            {
                "address": "0x20000010",
                "name": "g_traceHeader.nbVarMax",
                "type": 5
            },
            {
                "address": "0x20000024",
                "name": "g_traceHeader.readPointer",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "g_traceHeader.readPointerCopy",
                "type": 5
            },
            {
                "address": "0x20000000",
                "name": "g_traceHeader.startMark[0]",
                "type": 1
            },
            {
                "address": "0x20000030",
                "name": "g_traceHeader.subSamplingRate",
                "type": 5
            },
            {
                "address": "0x20000018",
                "name": "g_traceHeader.timestamp_base_unit",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "g_traceHeader.trigger.accessType",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "g_traceHeader.trigger.address",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "g_traceHeader.trigger.bIgnoreTrig",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "g_traceHeader.trigger.cmd",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "g_traceHeader.trigger.mode",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "g_traceHeader.trigger.nPreTrig",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "g_traceHeader.trigger.state",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "g_traceHeader.trigger.stopParam",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "g_traceHeader.trigger.threshold",
                "type": 5
            },
            {
                "address": "0x2000001c",
                "name": "g_traceHeader.writePointer",
                "type": 5
            },
            {
                "address": "0x20000020",
                "name": "g_traceHeader.writePointerCopy",
                "type": 5
            },
            {
                "address": "0x200009fc",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x20000a22",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000a1e",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000a26",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000a00",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200009f8",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200009f0",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200009e8",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200009ec",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x200009e4",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200009f4",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200009e0",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x20000a1c",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x20000a1d",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x20000a44",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20000a6a",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000a66",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000a6e",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000a48",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000a40",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000a38",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000a30",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000a34",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000a2c",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000a3c",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000a28",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x20000a64",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x20000a65",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x20000a70",
                "name": "ii",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "Ki",
                "type": 9
            },
            {
                "address": "0x200000b8",
                "name": "Kp",
                "type": 9
            },
            {
                "address": "0x20000a74",
                "name": "pnew",
                "type": 4
            },
            {
                "address": "0x20000a76",
                "name": "pold",
                "type": 4
            },
            {
                "address": "0x20000db0",
                "name": "r",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200000c4",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000d9c",
                "name": "theta",
                "type": 9
            },
            {
                "address": "0x200000c0",
                "name": "Ts",
                "type": 9
            },
            {
                "address": "0x20000da8",
                "name": "u",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000dac",
                "name": "u_old",
                "type": 9
            },
            {
                "address": "0x20000dbc",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x200000c8",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x20000da0",
                "name": "vel",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000da4",
                "name": "velold",
                "type": 9
            }
        ],
        "expand": false,
        "filename": "stm32f401_xB_template.elf",
        "exeModifiedTime": 1697664702550,
        "configLastUpdate": 1697664945545
    },
    {
        "id": "8706a9897e4b150b",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "100",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "Grafico Interactivo",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "step",
        "duration": "5",
        "ymin": "",
        "ymax": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "6032146079546790",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "6032146079546790",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "getVariables",
        "accesspoint": 0,
        "execonfig": "06bd63c9f0ccbe23",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "u",
        "triggerthreshold": "1",
        "frequency": "10",
        "frequencyType": "custom",
        "snapshotheader": "0x20000000",
        "mode": "snapshot",
        "lastImportedTime": 1697665399069,
        "openStatus": true,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "getVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "full",
        "logformat": "csv",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 510,
        "y": 160,
        "wires": []
    }
]