MonitorFlows/uart.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22293a40.207896",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6032146079546790",
        "type": "probe",
        "probeid": "082303147316303030303032",
        "probename": "ST-Link v2 082303147316303030303032",
        "protocol": "SWD",
        "frequency": "4.6 MHz",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J42",
        "connectionType": "p2p",
        "nickname": "st"
    },
    {
        "id": "06bd63c9f0ccbe23",
        "type": "exe-config",
        "name": "control",
        "exefile": "D:\\repos\\ControlDigitalAvanzado\\2.MotorControl_Pio\\.pio\\build\\debug\\firmware.elf",
        "exefolder": "D:\\repos\\ControlDigitalAvanzado\\2.MotorControl_Pio\\.pio\\build\\debug",
        "exevariablelist": [
            {
                "address": "0x08008a58",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08008a68",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000b68",
                "name": "bAutoRearmAfterOVF",
                "type": 6
            },
            {
                "address": "0x20000bb2",
                "name": "encoder_value",
                "type": 3
            },
            {
                "address": "0x20000bb8",
                "name": "encoder_value_old",
                "type": 3
            },
            {
                "address": "0x20000b6c",
                "name": "g_binternalIgnoreTrig",
                "type": 6
            },
            {
                "address": "0x200002b4",
                "name": "g_dataTraceBuffer[0]",
                "type": 5
            },
            {
                "address": "0x20000b70",
                "name": "g_internalTrigMode",
                "type": 6
            },
            {
                "address": "0x20000b74",
                "name": "g_internalTrigState",
                "type": 6
            },
            {
                "address": "0x20000b78",
                "name": "g_internalType",
                "type": 6
            },
            {
                "address": "0x20000b4c",
                "name": "g_lastReadPointer",
                "type": 5
            },
            {
                "address": "0x20000b7c",
                "name": "g_nbRecords",
                "type": 6
            },
            {
                "address": "0x20000b80",
                "name": "g_overflow",
                "type": 6
            },
            {
                "address": "0x20000b84",
                "name": "g_pTriggerConf",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "g_readFunc[0]",
                "type": 5
            },
            {
                "address": "0x20000b50",
                "name": "g_recordSize",
                "type": 5
            },
            {
                "address": "0x20000b88",
                "name": "g_stopAfterRecords",
                "type": 6
            },
            {
                "address": "0x20000b8c",
                "name": "g_threshold_s16",
                "type": 4
            },
            {
                "address": "0x20000b90",
                "name": "g_threshold_s32",
                "type": 6
            },
            {
                "address": "0x20000b94",
                "name": "g_threshold_s8",
                "type": 2
            },
            {
                "address": "0x20000b96",
                "name": "g_threshold_u16",
                "type": 3
            },
            {
                "address": "0x20000b98",
                "name": "g_threshold_u32",
                "type": 5
            },
            {
                "address": "0x20000b9c",
                "name": "g_threshold_u8",
                "type": 1
            },
            {
                "address": "0x20000b58",
                "name": "g_timestamp",
                "type": 5
            },
            {
                "address": "0x20000b5c",
                "name": "g_timestampOverflow",
                "type": 5
            },
            {
                "address": "0x20000020",
                "name": "g_traceHeader.bufferEndAddr",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "g_traceHeader.bufferFormat",
                "type": 5
            },
            {
                "address": "0x2000001c",
                "name": "g_traceHeader.bufferStartAddr",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "g_traceHeader.flags",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "g_traceHeader.g_varList[0].accessType",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "g_traceHeader.g_varList[0].address",
                "type": 5
            },
            {
                "address": "0x20000017",
                "name": "g_traceHeader.headerFieldSize",
                "type": 1
            },
            {
                "address": "0x20000018",
                "name": "g_traceHeader.headerVersion",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "g_traceHeader.nbVar",
                "type": 5
            },
            {
                "address": "0x20000024",
                "name": "g_traceHeader.nbVarMax",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "g_traceHeader.readPointer",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "g_traceHeader.readPointerCopy",
                "type": 5
            },
            {
                "address": "0x20000014",
                "name": "g_traceHeader.startMark[0]",
                "type": 1
            },
            {
                "address": "0x20000044",
                "name": "g_traceHeader.subSamplingRate",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "g_traceHeader.timestamp_base_unit",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "g_traceHeader.trigger.accessType",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "g_traceHeader.trigger.address",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "g_traceHeader.trigger.bIgnoreTrig",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "g_traceHeader.trigger.cmd",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "g_traceHeader.trigger.mode",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "g_traceHeader.trigger.nPreTrig",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "g_traceHeader.trigger.state",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "g_traceHeader.trigger.stopParam",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "g_traceHeader.trigger.threshold",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "g_traceHeader.writePointer",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "g_traceHeader.writePointerCopy",
                "type": 5
            },
            {
                "address": "0x20000d0c",
                "name": "hdma_usart1_rx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000cbc",
                "name": "hdma_usart1_rx.Init.Channel",
                "type": 5
            },
            {
                "address": "0x20000cc0",
                "name": "hdma_usart1_rx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000cdc",
                "name": "hdma_usart1_rx.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x20000ce0",
                "name": "hdma_usart1_rx.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x20000ce4",
                "name": "hdma_usart1_rx.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x20000cd0",
                "name": "hdma_usart1_rx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000cc8",
                "name": "hdma_usart1_rx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000cd4",
                "name": "hdma_usart1_rx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000ce8",
                "name": "hdma_usart1_rx.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x20000ccc",
                "name": "hdma_usart1_rx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000cc4",
                "name": "hdma_usart1_rx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000cd8",
                "name": "hdma_usart1_rx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000cb8",
                "name": "hdma_usart1_rx.Instance",
                "type": 5
            },
            {
                "address": "0x20000cec",
                "name": "hdma_usart1_rx.Lock",
                "type": 2
            },
            {
                "address": "0x20000cf0",
                "name": "hdma_usart1_rx.Parent",
                "type": 5
            },
            {
                "address": "0x20000ced",
                "name": "hdma_usart1_rx.State",
                "type": 2
            },
            {
                "address": "0x20000d10",
                "name": "hdma_usart1_rx.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x20000d14",
                "name": "hdma_usart1_rx.StreamIndex",
                "type": 5
            },
            {
                "address": "0x20000d08",
                "name": "hdma_usart1_rx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000cf4",
                "name": "hdma_usart1_rx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000d04",
                "name": "hdma_usart1_rx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000cf8",
                "name": "hdma_usart1_rx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000cfc",
                "name": "hdma_usart1_rx.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x20000d00",
                "name": "hdma_usart1_rx.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000cac",
                "name": "hdma_usart1_tx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000c5c",
                "name": "hdma_usart1_tx.Init.Channel",
                "type": 5
            },
            {
                "address": "0x20000c60",
                "name": "hdma_usart1_tx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000c7c",
                "name": "hdma_usart1_tx.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x20000c80",
                "name": "hdma_usart1_tx.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x20000c84",
                "name": "hdma_usart1_tx.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x20000c70",
                "name": "hdma_usart1_tx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000c68",
                "name": "hdma_usart1_tx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000c74",
                "name": "hdma_usart1_tx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000c88",
                "name": "hdma_usart1_tx.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x20000c6c",
                "name": "hdma_usart1_tx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000c64",
                "name": "hdma_usart1_tx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000c78",
                "name": "hdma_usart1_tx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000c58",
                "name": "hdma_usart1_tx.Instance",
                "type": 5
            },
            {
                "address": "0x20000c8c",
                "name": "hdma_usart1_tx.Lock",
                "type": 2
            },
            {
                "address": "0x20000c90",
                "name": "hdma_usart1_tx.Parent",
                "type": 5
            },
            {
                "address": "0x20000c8d",
                "name": "hdma_usart1_tx.State",
                "type": 2
            },
            {
                "address": "0x20000cb0",
                "name": "hdma_usart1_tx.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x20000cb4",
                "name": "hdma_usart1_tx.StreamIndex",
                "type": 5
            },
            {
                "address": "0x20000ca8",
                "name": "hdma_usart1_tx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000c94",
                "name": "hdma_usart1_tx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000ca4",
                "name": "hdma_usart1_tx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000c98",
                "name": "hdma_usart1_tx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000c9c",
                "name": "hdma_usart1_tx.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x20000ca0",
                "name": "hdma_usart1_tx.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000c2c",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x20000c52",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000c4e",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000c56",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000c30",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000c28",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000c20",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000c18",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000c1c",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000c14",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000c24",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000c10",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x20000c4c",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x20000c4d",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x20000be4",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20000c0a",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000c06",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000c0e",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000be8",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000be0",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000bd8",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000bd0",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000bd4",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000bcc",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000bdc",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000bc8",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x20000c04",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x20000c05",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x20000d58",
                "name": "huart1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000d55",
                "name": "huart1.gState",
                "type": 2
            },
            {
                "address": "0x20000d50",
                "name": "huart1.hdmarx",
                "type": 5
            },
            {
                "address": "0x20000d4c",
                "name": "huart1.hdmatx",
                "type": 5
            },
            {
                "address": "0x20000d1c",
                "name": "huart1.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x20000d30",
                "name": "huart1.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x20000d2c",
                "name": "huart1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000d34",
                "name": "huart1.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x20000d28",
                "name": "huart1.Init.Parity",
                "type": 5
            },
            {
                "address": "0x20000d24",
                "name": "huart1.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x20000d20",
                "name": "huart1.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x20000d18",
                "name": "huart1.Instance",
                "type": 5
            },
            {
                "address": "0x20000d54",
                "name": "huart1.Lock",
                "type": 2
            },
            {
                "address": "0x20000d40",
                "name": "huart1.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000d38",
                "name": "huart1.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000d48",
                "name": "huart1.ReceptionType",
                "type": 5
            },
            {
                "address": "0x20000d56",
                "name": "huart1.RxState",
                "type": 2
            },
            {
                "address": "0x20000d46",
                "name": "huart1.RxXferCount",
                "type": 3
            },
            {
                "address": "0x20000d44",
                "name": "huart1.RxXferSize",
                "type": 3
            },
            {
                "address": "0x20000d3e",
                "name": "huart1.TxXferCount",
                "type": 3
            },
            {
                "address": "0x20000d3c",
                "name": "huart1.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000bb0",
                "name": "k",
                "type": 3
            },
            {
                "address": "0x20000bc0",
                "name": "omega",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000bbc",
                "name": "omega_old",
                "type": 9
            },
            {
                "address": "0x20000290",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000bb4",
                "name": "theta",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000bba",
                "name": "trigger",
                "type": 1
            },
            {
                "address": "0x20000bc4",
                "name": "u",
                "type": 9
            },
            {
                "address": "0x20000d5c",
                "name": "uart1_rx_buffer[0]",
                "type": 2
            },
            {
                "address": "0x20000d8e",
                "name": "uart1_rx_dma_ready_time_out_iter",
                "type": 1
            },
            {
                "address": "0x20000bac",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000000",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "firmware.elf",
        "exeModifiedTime": 1696718370632,
        "configLastUpdate": 1696740543430
    },
    {
        "id": "1691922a99c6e5cf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8706a9897e4b150b",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "100",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "Grafico Interactivo",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "step",
        "duration": "5",
        "ymin": "",
        "ymax": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "6032146079546790",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "6032146079546790",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "getVariables",
        "accesspoint": 0,
        "execonfig": "06bd63c9f0ccbe23",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "omega",
        "triggerthreshold": "1",
        "frequency": "10",
        "frequencyType": "custom",
        "snapshotheader": "0x20000014",
        "mode": "snapshot",
        "lastImportedTime": 1696740544231,
        "openStatus": true,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "topicType": "str",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "getVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "csv",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "9f6cd521da0d1013",
        "type": "serial in",
        "z": "7b9ed63e.2138f8",
        "name": "UART IN",
        "serial": "8706a9897e4b150b",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "992060ecf3e32a44"
            ]
        ]
    },
    {
        "id": "8fd8ae9918a5540e",
        "type": "debug",
        "z": "7b9ed63e.2138f8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "992060ecf3e32a44",
        "type": "function",
        "z": "7b9ed63e.2138f8",
        "name": "getOmega",
        "func": "var input = msg.payload.split(\",\");\nmsg.payload = parseFloat(input[2]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "db9e73f518e349ae",
                "067588bbdb8f1462"
            ]
        ]
    },
    {
        "id": "bdfabab30b31f7b6",
        "type": "ui_chart",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "ss:SSS",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": "5",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "db9e73f518e349ae",
        "type": "function",
        "z": "7b9ed63e.2138f8",
        "name": "function 1",
        "func": "let buffer = global.get(\"omega_buffer\");\nlet counter = global.get(\"omega_buffer_counter\");\n\nif (counter<400){\n    buffer.push(msg.payload);\n    counter = counter+1;\n\n    //msg.payload = counter;\n    global.set(\"omega_buffer_counter\", counter);\n    global.set(\"omega_buffer\", buffer);\n    //return msg;\n}else{\n    let out = [...buffer];\n    msg.payload=out;\n    global.set(\"omega_buffer_counter\", 0);\n    global.set(\"omega_buffer\", []);\n    return {payload:out};\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"omega_buffer\",[]);\nglobal.set(\"omega_buffer_counter\",0)",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "fb0f3120f5bec3ae"
            ]
        ]
    },
    {
        "id": "067588bbdb8f1462",
        "type": "debug",
        "z": "7b9ed63e.2138f8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 580,
        "wires": []
    },
    {
        "id": "e09e4f58877bb26e",
        "type": "delay",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "400",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 420,
        "wires": [
            [
                "bdfabab30b31f7b6"
            ]
        ]
    },
    {
        "id": "5531d36972e9c7bd",
        "type": "function",
        "z": "7b9ed63e.2138f8",
        "name": "function 2",
        "func": "let input = msg.payload;\nlet out = []\nfor (let index = 0; index < input.length; index++) {\n    out[index] = {payload:input[index]};\n}\nreturn [out];    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"omega_buffer\",[]);\nglobal.set(\"omega_buffer_counter\",0)",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "79d7cbcfc09e4f46",
                "e09e4f58877bb26e"
            ]
        ]
    },
    {
        "id": "79d7cbcfc09e4f46",
        "type": "debug",
        "z": "7b9ed63e.2138f8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 520,
        "wires": []
    },
    {
        "id": "fb0f3120f5bec3ae",
        "type": "delay",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.9",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "5531d36972e9c7bd",
                "8fd8ae9918a5540e"
            ]
        ]
    }
]